{{template "partials/header" "admin"}}

<div style="width:99%;margin:auto;padding:10px;">

<h1>Welcome to TMF Proxy</h1>
<p>TMF Proxy is a tool for managing TMF APIs.</p>
<p>Use the navigation menu to explore the features.</p>

</div>